.container {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container p {
    text-align: center;
    font-size: 130px;
}

.container button {
    font-size: 70px;
    background-color: #000;
    color: rgb(136, 133, 133);
}